@use '../util/' as u;

footer {
  &.footer--dark {
    background-color: var(--footer-bg-color);
    margin-block-start: u.rem(40);
    border-radius: 15px 15px 0 0;
    box-shadow: var(--boxitem-shadow);
    padding-block-start: 0px;
  }

  .row.footer__links {
    display: flex;
    justify-content: center;
  }

  .col.footer__col {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }
}

.footer__copyright {
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--color-bar);
}
