@use '../util/' as u;

footer {
  &.footer--dark {
    background-color: var(--footer-bg-color);
    margin-block-start: u.rem(40);
    border-radius: 15px 15px 0 0;
    box-shadow: var(--boxitem-shadow);
  }
}
