@use '../util/' as u;

.home {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px 40px;
  }

  &__smallboxesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__boxitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--boxitem-bg-color);
    border-radius: 15px;

    box-shadow: var(--boxitem-shadow);

    h2 {
      text-align: center;
      text-transform: uppercase;
      margin-block: u.rem(10);
    }

    p {
      text-align: justify;
      margin: u.rem(20);
    }

    button {
      background-color: var(--button-bg-color);
      color: var(--button-text-color);
      border: none;
      padding: 12px 50px;
      border-radius: 50px;
      margin-block-end: u.rem(20);
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: var(--button-bg-color-hover);
      }
    }

    &.small {
      flex: 1;
      min-width: u.rem(230);
    }

    &.fullwidth {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-row: auto auto auto;

      .fullwidth__textAndButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include u.breakpoint('medium') {
        grid-template-columns: auto 5fr;
        grid-template-rows: auto 1fr;

        .fullwidth__image {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
          height: 100%;
          width: 12.5rem;
          width: clamp(
            12.5rem,
            9.859154929577464rem + 11.267605633802818vw,
            20rem
          );
          img {
            width: auto;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 0 0 15px;
            border-top: 0;
          }
        }

        .fullwidth__title {
          grid-column: 2 / 3;
          grid-row: 1 / 2;

          h2 {
            text-align: left;
            margin: 0;
            padding-left: u.rem(20);
            padding-block: u.rem(10);
            border-bottom: 5px solid;
            border-image-slice: 1;
            border-image-source: var(--color-bar);
          }
        }

        .fullwidth__textAndButton {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          height: 100%;

          p {
            text-align: justify;
            margin-block: u.rem(20);
          }
        }

        &.right {
          grid-template-columns: 6fr auto;

          .fullwidth__image {
            grid-column: 2 / 3;

            img {
              border-radius: 0 15px 15px 0;
            }
          }

          .fullwidth__title {
            grid-column: 1 / 2;
          }

          .fullwidth__textAndButton {
            grid-column: 1 / 2;
          }
        }
      }
    }
  }

  &__boximage {
    width: 100%;
    height: u.rem(190);
    object-fit: cover;
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: var(--color-bar);
  }

  &__latestBlogPosts {
    background-color: var(--boxitem-bg-color);
    border-radius: 30px;
    padding-block-start: u.rem(10);
    box-shadow: var(--boxitem-shadow);

    &__title {
      text-align: center;
      text-transform: uppercase;
      padding-bottom: u.rem(10);
      border-bottom: 5px solid;
      border-image-slice: 1;
      border-image-source: var(--color-bar);

      @include u.breakpoint('medium') {
        text-align: left;
        padding-inline-start: u.rem(20);
      }
    }

    &__recentcontainer {
      margin-inline: u.rem(20);
      margin-block: u.rem(10);
    }

    &__postcontainer {
      display: grid;
      grid-template-columns: u.rem(60) auto;
      grid-template-rows: auto auto auto;
      padding-block: u.rem(10);
      align-items: center;
    }

    &__icon {
      grid-column: 1 / 2;
      grid-row: 1/3;
      display: flex;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: var(--button-bg-color);
      padding: 8px;

      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: var(--button-bg-color-hover);
      }

      svg {
        height: 100%;
        color: var(--button-text-color);
      }
    }

    &__date {
      grid-column: 2 / 3;
      grid-row: 1/2;
    }

    &__posttitle {
      grid-column: 2 / 3;
      grid-row: 2/3;
      text-transform: uppercase;
    }

    &__description {
      grid-column: -3 / -1;
      grid-row: 3/4;
      margin-block-start: u.rem(10);
    }
  }
}
