@use '../util/' as u;

.navbar {
  background-color: var(--navbar-bg-color);
  height: 84px;
  border-radius: 0 0 30px 30px;
  box-shadow: var(--boxitem-shadow);

  &__items {
    display: flex;
    align-items: center;

    justify-content: space-around;

    @include u.breakpoint('custom') {
      display: flex;
      flex-direction: row;

      justify-content: space-around;
    }

    @include u.breakpoint('medium') {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__title {
    display: none;
  }

  &__logo {
    margin: 0;
    order: 2;
    height: 60px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background: linear-gradient(
        50deg,
        #430a15 20%,
        #ac2b24 30%,
        #ffffff 50%,
        #1f4cb5 70%,
        #1a204b 80%
      );
      z-index: -2;
      border-radius: 50%;
    }

    img {
      width: 60px;
      height: 60px;
      position: relative;
      z-index: -1;
      border-radius: 50%;
    }
  }

  &__toggle {
    order: 1;
  }

  &__item {
    text-transform: uppercase;
  }

  // &__items--right {
  //   display: none;
  // }
}
